includes:
    - vendor/timeweb/phpstan-enum/extension.neon
parameters:
    level: 6
    paths:
        - commands
        - components
        - controllers
        - models
        - modules
        - jobs
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    tmpDir: runtime/phpstan
    treatPhpDocTypesAsCertain: false